* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 96%);
  color: #333;
  line-height: 1.6;
}
.projectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: hsl(0, 0%, 96%);
}

.projectBtns {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.projectBtn {
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.projectBtn:hover {
  background-color: #005fa3;
  border: none;
}

.projectWrapperContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #e9ecef;
}
